@media(min-width:200px) and (max-width:348px){
  .box{
    width: 43%;
  }
  .restitle{
    text-align: left !important;
  }
}
@media (min-width:350px) and (max-width:700px){
  .box{
    width: 100%;
  }
  .restitle{
    text-align: left !important;
  }
  .shape{
    width: 233px !important;
    height: 80px !important;
  }
  .material-icons{
    color: #fff ;
    font-size: 75px !important;
    position: relative;
    top: -31px !important;
  }
}




.layout {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;*/
  }
  input[type="radio"] {
    display: none;
  }
  label.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #8e44ad;
    background: #ecf0f1;
    user-select: none;
    transition: background 0.4s, padding-left 0.2s;
   /* padding-left: 0;*/
     padding: 10px;
  }
  @media (min-width:200px) and (max-width:1000px){
   .layout{
    overflow: scroll;
    width: 100% ;
   }
  }

  input[type="radio"]:checked + .page + label.nav {
    background: #9b59b6;
    color: #ffffff;
    padding-left: 20px;
  }
  input[type="radio"]:checked + .page + label.nav span {
    padding-left: 20px;
  }
  input[type="radio"]:checked + .page + label.nav svg {
    opacity: 1;
  }
  label.nav span {
    padding-left: 0px;
    position: relative;
  }
  label.nav svg {
    left: -2px;
    top: 4px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 6;
    padding: 0px 2px;
    display: flex;
    align-items: center;
  }
  .page-contents > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
  }
  .page-contents > *:nth-child(1) {
    transition-delay: 0.4s;
  }
  .page-contents > *:nth-child(2) {
    transition-delay: 0.6s;
  }
  .page-contents > *:nth-child(3) {
    transition-delay: 0.8s;
  }
  .page-contents > *:nth-child(4) {
    transition-delay: 1s;
  }
  .page-contents > *:nth-child(5) {
    transition-delay: 1.2s;
  }
  .page-contents > *:nth-child(6) {
    transition-delay: 1.4s;
  }
  .page-contents > *:nth-child(7) {
    transition-delay: 1.6s;
  }
  .page-contents > *:nth-child(8) {
    transition-delay: 1.8s;
  }
  .page-contents > *:nth-child(9) {
    transition-delay: 2s;
  }
  .page-contents > *:nth-child(10) {
    transition-delay: 2.2s;
  }
  .page-contents > *:nth-child(11) {
    transition-delay: 2.4s;
  }
  .page-contents > *:nth-child(12) {
    transition-delay: 2.6s;
  }
  .page-contents > *:nth-child(13) {
    transition-delay: 2.8s;
  }
  .page-contents > *:nth-child(14) {
    transition-delay: 3s;
  }
  .page-contents > *:nth-child(15) {
    transition-delay: 3.2s;
  }
  .page-contents > *:nth-child(16) {
    transition-delay: 3.4s;
  }
  .page-contents > *:nth-child(17) {
    transition-delay: 3.6s;
  }
  .page-contents > *:nth-child(18) {
    transition-delay: 3.8s;
  }
  .page-contents > *:nth-child(19) {
    transition-delay: 4s;
  }
  .page-contents > *:nth-child(20) {
    transition-delay: 4.2s;
  }
  input[type="radio"] + .page {
    transition: transform 0.2s;
    transform: translateX(100%);
  }
  input[type="radio"]:checked + .page {
    transform: translateX(0%);
  }
  input[type="radio"]:checked + .page .page-contents > * {
    opacity: 1;
    transform: translateY(0px);
  }
  .page-contents {
    max-width: 100%;
    /*width: 500px;*/
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 20px;
  }

  /*css card for content*/
  .box {
    -webkit-box-shadow: 0px 12px 6px -6px rgba(41,41,41,0.25);
    -moz-box-shadow: 0px 12px 6px -6px rgba(41,41,41,0.25);
    box-shadow: 0px 12px 6px -6px rgba(41,41,41,0.25);
    /*padding: 0;*/
    padding-bottom: 8px;
    margin-bottom: 30px;
    margin-left: 10px;
    background-color: #fff;

  }

  .step1 {
    z-index: 999;
  }

  .step2 .animated {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    position: relative;
    top: -6px;
  }

  .step3 .animated {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    z-index: -3;
    position:relative;
    top: -12px;
  }

  .step4 .animated {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    z-index: -5;
    position: relative;
    top: -18px;
  }

  .shape {
    width: 150px;
    height: 120px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -webkit-box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
    -moz-box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
    box-shadow: 0px 12px 30px -6px rgba(41,41,41,0.25);
    top: 10px;
    left: 8px;
    text-align: center;
  }

  .shape-1 .shape{
    background: #152C4F;
  }

  .shape-1 .material-icons {
    color: #e74c3c;
  }

  .shape-2 .shape{
    background: #34495e;
  }

  .shape-2 .material-icons {
    color: #34495e;
  }

  .shape-3 .shape {
    background: #f39c12;
  }

  .shape-3 .material-icons {
    color: #f39c12;
  }

  .shape-4 .shape {
    background: #3498db;
  }

  .shape-4 .material-icons {
    color: #3498db;
  }

  .number {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
  }
  .newh1 {
    color: #fff;
    font-weight: 700;

    padding-top: 15px;
    transform:scale(2,3);
    -webkit-transform:scale(2,3);
    -moz-transform:scale(2,3);
    -ms-transform:scale(2,3);
    -o-transform:scale(2,3);
  }

  .box p {
      font-weight: 900;
      padding-top: 25px;
      text-align: center;
      font-size: 22px;
  }

  /* Not required */


  h2 {
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;

  }

  .md-56 {
    font-size: 56px;
    padding-top: 30px;
  }
  /*css for table*/
  div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    direction: rtl !important;
  }

  .table-title h3 {
     color: #fafafa;
     font-size: 30px;
     font-weight: 400;
     font-style:normal;
     font-family: "Roboto", helvetica, arial, sans-serif;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
  }


  /*** Table Styles **/

  /*.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;*
    margin: auto;
    max-width: 895px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    margin-top: 120px;
    margin: 0 auto;
  }*/
  table{
    border-collapse: collapse;
    border-spacing: 0;
     width: 100%;
     margin: 0 auto;
     direction: rtl;
  }

  @media (min-width:200px) and (max-width:900px){
    table{
      width: 500px !important;
    }
  }
  th {
    color:#FFFFFF;;
    background:#173D64 !important;
    border-bottom:4px solid #9ea7af;
    border-right: 2px solid #C1C3D1;
    border-left: 2px solid #C1C3D1;
    font-size:21px;
    font-weight: 100;
    padding:11px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

  th:first-child {
    border-top-left-radius:1px;
  }

  th:last-child {
    border-top-right-radius:1px;
    border-right:none;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-left: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  tr:hover td {
    /*background:#9ea7af;*/
    color:#9ea7af;
    border-top: 1px solid #9ea7af;
  }

  tr:first-child {
    border-top:none;
  }

  tr:last-child {
    border-bottom:none;
  }

  tr:nth-child(odd) td {
    /*background:#EBEBEB;*/
  }

  tr:nth-child(odd):hover td {
    /*background:#9ea7af;*/
  }

  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:1px;
  }

  td {
    background:#FFFFFF;
    padding: 4px;
    text-align: center;
    vertical-align:middle;
    font-weight:300;
    font-size:17px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    border-left: 1px solid #C1C3D1;
    border-bottom:1px solid #9ea7af;
  }

  td:last-child {
    border-right: 0px;
  }

  th.text-left {
    text-align: left;
  }

  th.text-center {
    text-align: center;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
  }

  td.text-center {
    text-align: center;
  }

  td.text-right {
    text-align: right;
  }
  /*end css for table*/
  /*css for card video*/
  @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
  .card2 .card-image{
      overflow: hidden;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }


  .card2{
      margin-top: 10px;
      position: relative;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 370px;
  }

  .card2 .card-content {
      padding: 10px;

  }

  .card2 .card-content .card-title, .card-reveal .card-title{
      font-size: 20px;
      font-weight: 100;
    margin-bottom:10px;
  }

  /*.container .content {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black background with transparency
      color: #f1f1f1;
      width: 80%;
      padding: 2px;
      text-align: right;
      margin-left:90px;
      padding-right:15px;

  }*/

  /*end css foe card */
  /*end cs card*/

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  /*css for mainexam page*/
  /*css for button*/
  .butt {
    --border: 3px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #FDC135; /* the color */

    font-size: 18px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background:
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
  .butt:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
  .butt:hover,
  .butt:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
  .butt:active {
    --s: #0005;
    transition: none;
  }
        /*end css for button*/
        /*css for modal popup*/
     /*   html {
    height: 100%;

  }
  html body {
    height: 100%;
  }
  html body #intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }*/
  /*html body #intro * {
    margin-top: 25px;
    margin-bottom: 25px;
  }*/
  html body #modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    overflow: hidden;

  }
  html body #modal:hover:before {
    transform: scale(1.5);
  }
  html body #modal:before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: " ";
    background-image: url("http://ak.picdn.net/shutterstock/videos/3435617/preview/stock-footage-modern-city-a-busy-overpass-at-sunset.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    transition: transform 60s linear;
    transform: scale(1);
    transform-origin: left top;
  }
  html body #modal:focus, html body #modal:target {
    transform: scale(1);
  }
  html body #modal > a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: default;
  }
  html body #modal section {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
  form div {
    position: relative;
    min-height: 50px;
    margin-top: 25px;
  }
  form div:first-of-type {
    margin-top: 0;
  }
  form div span {
    position: absolute;
    z-index: 5;
    display: block;
    height: 46px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #ff9900;
    font-size: 20px;
  }
  form div input[type="email"], form div input[type="password"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    padding-left: 65px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.25s;
  }
  form div input[type="email"]:hover, form div input[type="password"]:hover, form div input[type="email"]:focus, form div input[type="password"]:focus {
    outline: none;
    background-color: #ddd;
  }
  form div.controls a {
    margin-left: 25px;
    text-decoration: none;
    color: #aaa;
    position: relative;
    top: 20px;
  }
  form div.controls a:hover, form div.controls a:focus {
    color: #777;
  }
  form div.controls a:active {
    color: #666;
  }
  form div button {
    margin-left: 50px;
  }
  /*.button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    text-decoration: none;
  }
  .button:hover, .button:focus {
    outline: none;
    background-color: #e5892e;
  }
  .button:active {
    background-color: #cc7a29;
  }
  th{
    text-align: center;
  }*/
/*end css for main exam page*/

/*add content teacher page*/
  /*css for tablist*/
  @media (max-width:377px){
    .card12 {
    position: relative;
    width:100% !important;
    left: 0px !important;
}
  }
@media(min-width:200px) and (max-width:709px){
  .tab .nav-tabs{
border: none;
top: 30px !important;
margin-bottom: 10px;
position: relative;
width: 100% !important;
left: 13px !important;
}
.tab .tab-content {
padding: 15px;
margin-top: 0;
background: #14315cdb;
border-radius: 20px;
font-size: 15px;
color: #fff;
line-height: 25px;
border: 5px dashed #fff;

position: relative;
 top: 20px !important;
width: 106% !important;
left: 0 !important;
height: max-content;
}
}
@media(min-width:710px) and (max-width:767px){
  .tab .nav-tabs{
border: none;
top: 30px !important;
margin-bottom: 10px;
position: relative;
width: 100% !important;
}
.tab .tab-content {
padding: 15px;
margin-top: 0;
background: #14315cdb;
border-radius: 20px;
font-size: 15px;
color: #fff;
line-height: 25px;
border: 5px dashed #fff;

position: relative;
 top: 20px !important;
width: 106% !important;
left: 0 !important;
height: max-content;
}
}

@media(min-width:768px) and (max-width:967px){
  .tab .nav-tabs{
border: none;
top: 30px !important;
margin-bottom: 10px;
position: relative;
width: 162% !important;
left: 100px;
}
.tab .tab-content {

position: relative;
 top: 20px !important;
width: 232% !important;
left: 222px !important;
height: max-content;
}
.newrow{
max-width: 45.33333% !important;
}
}

@media(min-width:968px) and (max-width:1100px){
  .tab .nav-tabs{
border: none;
top: 30px !important;
margin-bottom: 10px;
position: relative;
width: 162% !important;
left: 100px;
}
.tab .tab-content {

position: relative;
 top: 20px !important;
width: 205% !important;
left: 222px !important;
height: max-content;
}
.newrow{
max-width: 45.33333% !important;
}
}

.tab .nav-tabs{
border: none;
top: -100px;
margin-bottom: 10px;
position: relative;
width: 137%;
left: 82px;
}
.tab .nav-tabs li a{
display: block;
padding: 5px 10px;
margin: 0 10px 20px 0;
font-size: 20px;
font-weight: 700;
color: #A2D2FF ;
text-transform: uppercase;
border: none;
border-radius: 0;
position: relative;
transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
background: #fff;
border-radius: 10px;
color: #4382E0  ;
border: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tab .nav-tabs li a:before{
content: "";
width: 3px;
height: 0;
background: #444bba;
margin: 0 auto;
position: absolute;
bottom: -30px;
left: 0;
right: 0;
transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{ height: 25px; }
.tab .nav-tabs li a:after{
content: "";
width: 15px;
height: 15px;
border-radius: 50%;
background: #4382E0  ;
margin: 0 auto;
position: absolute;
bottom: 50px;
left: 0;
right: 0;
opacity: 0;
transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{
bottom: -10px;
opacity: 1;
}
.tab .tab-content{
padding: 15px;
margin-top: 0;
background: #14315cdb;
border-radius: 20px;
font-size: 15px;
color: #fff;
line-height: 25px;
border: 5px dashed #fff;

position: relative;
top: -100px;
width: 211%;
left: 54%;
height: max-content;
}
.tab .tab-content h3{
font-size: 24px;
margin-top: 0;
}
@media only screen and (max-width: 479px){
.tab .nav-tabs{ margin-bottom: 0; }
.tab .nav-tabs li{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
}
/*css for cards*/
.card13 {
display: flex;
flex-direction: column;
/* width: 280px;*/
height: auto;
background-color: #FFF;
margin: 0;
box-shadow: -1px 0px 25px 0px #21719369;
padding: 2.25em;
box-sizing: border-box;
border: solid 1px #DDD;
border-radius: 0.5em;
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
}

.card13 .Group {
margin: 0 auto;
/*margin-bottom: 2em;*/

}

.card13 label {
margin: 0 0 10px;
display: block;
font-size: 1.25em;
color: #A2D2FF;
font-weight: 600;
font-family: inherit;
}

.card13 input {
padding: 0.3em 0.5em 0.4em;
background-color: #f3fafd;
border: solid 2px #A2D2FF;
border-radius: 4px;
box-sizing: border-box;
width: 100%;
height: 50px;
font-size: 1.3em;
color: #353538;
font-weight: 600;
font-family: inherit;
transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

.card13 input:focus {
outline: none;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
background-color: #edf8fc;
border: solid 2px #A2D2FF;
}

.card12 input::placeholder {
color: #A2D2FF;
}

.card13 .btn {
margin: 0;
padding: 0.5em;
background-color: #A2D2FF ;
border: none;
border-radius: 4px;
box-sizing: border-box;
box-shadow: none;
width: 100%;
height: 50px;
font-size: 1.4em;
color: #FFF;
font-weight: 600;
font-family: inherit;
transition: transforme 0.1s ease-in-out, background-color 0.2s ease-out;
}

.card13 .btn:hover {
cursor: pointer;
background-color: #A2D2FF;
}

.card13 .btn:active {
transform: scale(0.98);
}

/*end css for cards*/
/*upload file*/
.form {
display: flex;
flex-direction: column;
/* width: 280px;*/
height: auto;
background-color: #FFF;
margin: 0;
box-shadow: -1px 0px 25px 0px #21719369;
padding: 2.25em;
box-sizing: border-box;
border: solid 1px #DDD;
border-radius: 0.5em;
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
/*background-color: #fff;
box-shadow: 0 10px 60px rgb(218, 229, 255);
border: 1px solid rgb(159, 159, 160);
border-radius: 20px;
padding: 2rem .7rem .7rem .7rem;
text-align: center;
font-size: 1.125rem;*/
/*max-width: 320px;*/
}

.form-title {
color: #000000;
font-size: 1.8rem;
font-weight: 500;
}

.form-paragraph {
margin-top: 10px;
font-size: 0.9375rem;
color: rgb(105, 105, 105);
}

.drop-container {
background-color: #fff;
position: relative;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
margin-top: 2.1875rem;
border-radius: 10px;
border: 2px dashed #A2D2FF;
color: #444;
cursor: pointer;
transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
background: #a5c9ff  ;
border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
color: #222;
}

.drop-title {
color: #444;
font-size: 20px;
font-weight: bold;
text-align: center;
transition: color .2s ease-in-out;
}

#file-input {
width: 350px;
max-width: 100%;
color: #444;
padding: 2px;
background: #fff;
border-radius: 10px;
border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
margin-right: -1px;
border: none;
background: #A2D2FF;
padding: 10px 20px;
border-radius: 10px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
background: #A2D2FF;
}
/*end upload file*/
 /*css for save button*/
 @media(min-width:200px) and (max-width:700px){
  .btn{
    width: 17rem !important;
  }
 }
 .btn {
display: flex;
justify-content: center;
align-items: center;
width: 14rem;
height: 3rem;
background-size: 300% 300%;
backdrop-filter: blur(1rem);
border-radius: 5rem;
transition: 0.5s;
animation: gradient_301 5s ease infinite;
border: double 4px transparent;
background-image: linear-gradient(#152C4F, #152C4F), linear-gradient(137.48deg, #a5c9ff 10%,#A2D2FF45%, #3678db 67%, #A2D2FF87%);
background-origin: border-box;
/*background-origin: border-box;
background-clip: content-box, border-box;*/

}

#container-stars {
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
overflow: hidden;
transition: 0.5s;
backdrop-filter: blur(1rem);
border-radius: 5rem;
}

strong {
z-index: 2;
/* font-family: 'Avalors Personal Use'; */
font-size: 30px;
/* letter-spacing: 5px; */
color: #FFFFFF;
text-shadow: 0 0 4px white;
}

#glow {
position: absolute;
display: flex;
width: 12rem;
}

.circle {
width: 100%;
height: 30px;
filter: blur(2rem);
animation: pulse_3011 4s infinite;
z-index: -1;
}

.circle:nth-of-type(1) {
background: #4382E0 ;
}

.circle:nth-of-type(2) {
background: #a5c9ff;
}

.btn:hover #container-stars {
z-index: 1;
background-color: #a5c9ff ;
}

.btn:hover {
transform: scale(1.1)
}

.btn:active {
border: double 4px #FE53BB;
background-origin: border-box;
background-clip: content-box, border-box;
animation: none;
}

.btn:active .circle {
background: #FE53BB;
}

#stars {
position: relative;
background: transparent;
width: 200rem;
height: 200rem;
}

#stars::after {
content: "";
position: absolute;
top: -10rem;
left: -100rem;
width: 100%;
height: 100%;
animation: animStarRotate 90s linear infinite;
}

#stars::after {
background-image: radial-gradient(#ffffff 1px, transparent 1%);
background-size: 50px 50px;
}

#stars::before {
content: "";
position: absolute;
top: 0;
left: -50%;
width: 170%;
height: 500%;
animation: animStar 60s linear infinite;
}

#stars::before {
background-image: radial-gradient(#ffffff 1px, transparent 1%);
background-size: 50px 50px;
opacity: 0.5;
}

@keyframes animStar {
from {
transform: translateY(0);
}

to {
transform: translateY(-135rem);
}
}

@keyframes animStarRotate {
from {
transform: rotate(360deg);
}

to {
transform: rotate(0);
}
}

@keyframes gradient_301 {
0% {
background-position: 0% 50%;
}

50% {
background-position: 100% 50%;
}

100% {
background-position: 0% 50%;
}
}

@keyframes pulse_3011 {
0% {
transform: scale(0.75);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}

100% {
transform: scale(0.75);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}
 /*end css for save button*/
 /*add */
.button21 {

font-size: 17px;
padding: 1em 2.7em;
font-weight: 500;
background: #a5c9ff  ;
color: white;
border: none;
position: relative;
overflow: hidden;
border-radius: 0.6em;
}

.gradient {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
border-radius: 0.6em;
margin-top: -0.25em;
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
/**/
}

.label {
position: relative;
top: -1px;
}

.transition {
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
transition-duration: 500ms;
background-color: #A2D2FF;
border-radius: 9999px;
width: 0;
height: 0;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.button21:hover .transition {
width: 14em;
height: 14em;
}

.button21:active {
transform: scale(0.97);
}
/*end add content teacher page*/
